@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.backdrop {
  background-image: url("../public/backdrop.svg");
  background-repeat: repeat-x;
  
}

.card-min {
  min-height: 312px;
  max-width: 160px;
}
.product-image-dimensions {
  width: 175px;
  height: 175px;
}