@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }
}

.custom-transition {
  transition: 300ms;
}

html,
body {
  @apply bg-primary !text-neutral overflow-hidden h-[100dvh];
  background-image: url("../public/backdrop.svg");
  scroll-padding: 20rem;
}

.active {
  background-color: transparent !important;
  cursor: default;
  color: white !important;
}

.active-dark {
  background-color: transparent !important;
  color: white !important;
  cursor: default !important;
}

.backdrop {
  background-image: url("../public/backdrop.svg");
  background-repeat: repeat-x;
}

.card-min {
  min-width: 350px;
  max-width: 350px;
  min-height: 150px;
  max-height: 150px;
}

.cart-copied {
  @apply !bg-secondary text-center !text-white w-80 mx-auto !mb-4 !rounded-md;
}

.progress-copied {
  @apply !bg-accent;
}
